.nav-menu {
    margin-top: 35px;
}
  
.nav-menu ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  animation: moveInBottom 0.7s 1.2s;
  animation-fill-mode: backwards;
}

.nav-menu li + li {
  margin-left: 30px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #fff;
  font-size: 19px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.nav-menu a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #9e7f25;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before,
.nav-menu li:hover > a:before,
.nav-menu .active > a:before {
  visibility: visible;
  width: 25px;
}

.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
  color: var(--head-color);
  text-decoration: none;
}

@media (max-width: 1000px) {
  .nav-menu ul {
    display: none;
  }
}